@model WebApplication3.Models.Gas

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Gas</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="datum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="datum" class="form-control" />
                <span asp-validation-for="datum" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="koncno_stanje" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="koncno_stanje" class="form-control" />
                <span asp-validation-for="koncno_stanje" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="koncno_stanje_cela" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="koncno_stanje_cela" class="form-control" />
                <span asp-validation-for="koncno_stanje_cela" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="koncno_stanje_cifra" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="koncno_stanje_cifra" class="form-control" />
                <span asp-validation-for="koncno_stanje_cifra" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="proizvedena_kolicina" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="proizvedena_kolicina" class="form-control" />
                <span asp-validation-for="proizvedena_kolicina" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ura_koncnega_vpisa" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ura_koncnega_vpisa" class="form-control" />
                <span asp-validation-for="ura_koncnega_vpisa" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ura_zacetnega_vpisa" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ura_zacetnega_vpisa" class="form-control" />
                <span asp-validation-for="ura_zacetnega_vpisa" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="zacetno_stanje" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="zacetno_stanje" class="form-control" />
                <span asp-validation-for="zacetno_stanje" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="zacetno_stanje_cela" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="zacetno_stanje_cela" class="form-control" />
                <span asp-validation-for="zacetno_stanje_cela" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="zacetno_stanje_cifra" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="zacetno_stanje_cifra" class="form-control" />
                <span asp-validation-for="zacetno_stanje_cifra" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
