@{
	ViewData["Title"] = "Grafi";
}

<article id="contain" class="row body-content">

</article>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/highstock/highstock.js"></script>
<script src="~/lib/highstock/modules/exporting.js"></script>

<script>
	$(function() {

		$.getJSON("/Gases/GetJsonHola", function(data) {
			// Create the chart
			var chart = new Highcharts.StockChart({
				rangeSelector: {
					selected: 1
				},

				chart: {
					type: 'column',
					renderTo: 'contain'
				},
				title: {
					text: 'Poraba energenta'
				},

				series: [
					{
						name: 'AAPL',
						data: data,
						tooltip: {
							valueDecimals: 2
						}
					}
				]
			});
		});

	});
</script>


<p id="rData1">
</p>

<script type="text/jscript">
				var url = "/Gases/GetJsonHola";
				$.get(url, null, function (data) {
								$("#rDat1a").html(data);
				});
</script>