@model IEnumerable<WebApplication3.Models.Gas>

@{
  ViewData["Title"] = "Poizvedbe";
}

<article class="row body-content">
  <div class="col-sm-3">
    <h3>Tabela vnosov</h3>
    @using (Html.BeginForm("GasResultTable", "Gases", FormMethod.Get, new
    {
      id = "searchBtn",
      data_ajax = "true",
      data_ajax_method = "GET",
      data_ajax_mode = "replace",
      data_ajax_update = "#gasTableContainer",
      @class = "form-horizontal body-content"
    }))
    {
      <div class="form-group form-inline">
        <label for="startDate" class="control-label">Od</label>
        <input type="date" id="startDate" name="StartDate" placeholder="dd.mm.llll" class="form-control" required>
      </div>
      <div class="form-group form-inline">
        <label for="endDate" class="control-label">Do</label>
        <input type="date" id="endDate" name="EndDate" placeholder="dd.mm.llll" class="form-control">
      </div>
      <div class="form-group">
        <input name="searchBtn" type="submit" value="I&#353;&#269;i" class="btn btn-default" />
      </div>
    }
  </div>

  <div id="gasTableContainer" class="article-content col-sm-9">
    @{
      await Html.RenderPartialAsync("_GasResultTable");
    }
  </div>
</article>

@section Scripts {
  <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
}