@{
	ViewData["Title"] = "Domača stran";
}

<article class="row body-content">
	<h2>Vstopna stran aplikacije - Merjenje porabe energentov</h2>
	<p class="lead">
		Nahajate se na vstopni strani spletne aplikacije za meritev porabe energije v podjetju
		CPG, d.d.. Za povezavo na domačo stran podjetja kliknite semkaj - <a href="http://www.cpg.si/">CPG, d.d.</a>.
		S prijavo v aplikacijo soglašate s splošnimi pogoji za uporabo te aplikacije.
		Vsako ravnanje je na vašo odgovornost. Želimo vam lep in produktiven obisk.
	</p>
	<a asp-controller="Account" asp-action="login" class="btn btn-lg btn-success">Vstopi</a>
</article>