@{
	ViewData["Title"] = "Napaka";
}

<article class="row body-content">
	<div class="col-sm-offset-3 col-sm-6">
		<div>
			<h2 class="text-warning">
				Ni dostopa.
			</h2>
			<a asp-controller="Home" asp-action="Index">Domov</a>
		</div>
	</div>
</article>