@model ChangePasswordViewModel
@{
	ViewData["Title"] = "Spremeni geslo";
}

<article class="row body-content">
	<div class="col-sm-offset-3 col-sm-6">

		<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
			<h4>Obrazec za spreminjanje gesla</h4>
			<hr/>
			<div class="form-group">
				<label asp-for="OldPassword" class="col-md-2 control-label">Trenutno geslo</label>
				<div class="col-md-10">
					<input asp-for="OldPassword" class="form-control"/>
					<span asp-validation-for="OldPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="NewPassword" class="col-md-2 control-label">Novo geslo</label>
				<div class="col-md-10">
					<input asp-for="NewPassword" class="form-control"/>
					<span asp-validation-for="NewPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword" class="col-md-2 control-label">Potrdi novo geslo</label>
				<div class="col-md-10">
					<input asp-for="ConfirmPassword" class="form-control"/>
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-default">Spremeni geslo</button>
				</div>
			</div>
		</form>

	</div>
</article>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}